body{
    margin: auto 0;
    color: white;
}


.jumbotron{
    background:rgb(13,33,60,0.9);
    margin: 250px;
    border: 2px solid orange;
    position: relative;
    top: 75px;
    
    
}
#title {
    background: rgb(255,162,0);
    color: rgb(13,33,60);
    border: 1px solid rgb(255,162,0);
    font-family: 'Faster One', cursive;
    position: relative;
}
.timer {
    font-weight: bold;
}
.question {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}
.guess {
    transition: 0.07s;
    font-family: 'Roboto Condensed', sans-serif;
}

.guess:hover {
    transform: scale(1.1);
    cursor: pointer;
    border-top: 1px solid rgb(255,162,0);
    border-bottom: 1px solid rgb(255,162,0);
}
.feedback{
    font-weight: bold;
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
}

.btn {
    background: rgb(255,162,0);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    transition: 0.07s;
}
.btn:hover {
    transform: scale(1.1)

}

.clicked {
    background: rgb(255,162,0);
}
